In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv("https://github.com/SavioSal/datasets/raw/master/movie_clean.csv", encoding= 'unicode_escape')

In [ ]:
movies.head()

                         title  ...                                           overview
0                    Toy Story  ...  Led by Woody, Andy's toys live happily in his ...
1                      Jumanji  ...  When siblings Judy and Peter discover an encha...
2             Grumpier Old Men  ...  A family wedding reignites the ancient feud be...
3            Waiting to Exhale  ...  Cheated on, mistreated and stepped on, the wom...
4  Father of the Bride Part II  ...  Just when George Banks has recovered from his ...

[5 rows x 7 columns]

In [ ]:
#vectorizing #term frequency inverse document frequency
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf= TfidfVectorizer(stop_words='english')

In [ ]:
movies['vote_average']>7

0         True
1        False
2        False
3        False
4        False
         ...
45567    False
45568    False
45569    False
45570    False
45571    False
Name: vote_average, Length: 45572, dtype: bool

In [ ]:
movies[movies['vote_average']>7]
#subsetvalue

                              title  ...                                           overview
0                         Toy Story  ...  Led by Woody, Andy's toys live happily in his ...
5                              Heat  ...  Obsessive master thief, Neil McCauley leads a ...
12                            Balto  ...  An outcast half-wolf risks his life to prevent...
13                            Nixon  ...  An all-star cast powers this epic look at Amer...
15                           Casino  ...  The life of the gambling paradise â Las Vega...
...                             ...  ...                                                ...
45418                   Dyketactics  ...  Klasa II B jako zadanie domowe otrzymuje do na...
45421                    Pickpocket  ...  It's Christmas, and children at an orphanage i...
45437                In a Heartbeat  ...  Almaâs family has been producing quality oli...
45443  The Man with the Rubber Head  ...  In the future, national boundaries have been b...
45462           Century of Birthing  ...  Lt. Bobby Quinn is a Special Forces commando k...

[7714 rows x 7 columns]

In [ ]:
movie_new=movies[movies['vote_average']>7]

In [ ]:
movie_new= movie_new.reset_index()

In [ ]:
movie_new.head()

   level_0  index  ...    year                                           overview
0        0      0  ...  1995.0  Led by Woody, Andy's toys live happily in his ...
1        1      5  ...  1995.0  Obsessive master thief, Neil McCauley leads a ...
2        2     12  ...  1995.0  An outcast half-wolf risks his life to prevent...
3        3     13  ...  1995.0  An all-star cast powers this epic look at Amer...
4        4     15  ...  1995.0  The life of the gambling paradise â Las Vega...

[5 rows x 9 columns]

In [ ]:
movie_new['overview']

0       Led by Woody, Andy's toys live happily in his ...
1       Obsessive master thief, Neil McCauley leads a ...
2       An outcast half-wolf risks his life to prevent...
3       An all-star cast powers this epic look at Amer...
4       The life of the gambling paradise â Las Vega...
                              ...
7709    Klasa II B jako zadanie domowe otrzymuje do na...
7710    It's Christmas, and children at an orphanage i...
7711    Almaâs family has been producing quality oli...
7712    In the future, national boundaries have been b...
7713    Lt. Bobby Quinn is a Special Forces commando k...
Name: overview, Length: 7714, dtype: object

In [ ]:
movie_new['overview'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
7709    False
7710    False
7711    False
7712    False
7713    False
Name: overview, Length: 7714, dtype: bool

In [ ]:
len(movie_new[movie_new['overview'].isna()])

156

In [ ]:
movie_new['overview']= movie_new['overview'].fillna("")

In [ ]:
tfidf.fit_transform(movie_new['overview'])

<7714x31503 sparse matrix of type '<class 'numpy.float64'>'
	with 205864 stored elements in Compressed Sparse Row format>

In [ ]:
tfidf_matrix= tfidf.fit_transform(movie_new['overview'])

In [ ]:
print('tfidf_matrix',tfidf_matrix)

tfidf_matrix   (0, 7817)	0.14272795631004825
  (0, 1967)	0.16153122597090963
  (0, 16185)	0.10595912814741203
  (0, 9678)	0.11097031197711084
  (0, 8669)	0.1373439598965242
  (0, 20281)	0.10929419108108458
  (0, 25058)	0.1373439598965242
  (0, 5327)	0.1306659428259581
  (0, 21348)	0.14172672975415035
  (0, 12734)	0.1075589826875022
  (0, 21260)	0.09652903133794946
  (0, 16780)	0.12750260536071006
  (0, 878)	0.150047309129906
  (0, 24664)	0.11885885279058876
  (0, 16449)	0.18997947475779023
  (0, 4209)	0.48459367791272895
  (0, 3888)	0.11255836940637114
  (0, 3231)	0.12701973428860708
  (0, 24016)	0.11506404784924885
  (0, 12512)	0.14489006721939837
  (0, 16587)	0.0931508115561448
  (0, 28621)	0.14730710157746935
  (0, 1434)	0.4251801892624511
  (0, 30910)	0.459631939785462
  (0, 16208)	0.1140247840744468
  :	:
  (7713, 4340)	0.1503089312027454
  (7713, 12508)	0.09888574941523143
  (7713, 10629)	0.11726809869346727
  (7713, 19081)	0.11178752622335994
  (7713, 22773)	0.11896747869450994
  (7713, 31381)	0.11726809869346727
  (7713, 21268)	0.11896747869450994
  (7713, 10795)	0.08684468754654566
  (7713, 26311)	0.08915054734080015
  (7713, 15125)	0.1076509136297291
  (7713, 18348)	0.08644514842899306
  (7713, 13134)	0.10509917756807738
  (7713, 13322)	0.10323140317139637
  (7713, 26835)	0.08377140983737318
  (7713, 7978)	0.0765527264437341
  (7713, 15520)	0.08399780824555722
  (7713, 24889)	0.0773811653329629
  (7713, 9386)	0.09611255054687805
  (7713, 13424)	0.08445986747990075
  (7713, 7126)	0.07849759933396792
  (7713, 26643)	0.08236912015695068
  (7713, 12852)	0.06828073622644971
  (7713, 10449)	0.05602173728207145
  (7713, 25412)	0.11065513142306871
  (7713, 23486)	0.1006139818090398

In [ ]:
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
cosine_similarity= linear_kernel(tfidf_matrix,tfidf_matrix)

In [ ]:
cosine_similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.00434795,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.01600189],
       [0.        , 0.        , 1.        , ..., 0.        , 0.00382082,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.00577313],
       [0.00434795, 0.        , 0.00382082, ..., 0.        , 1.        ,
        0.00922048],
       [0.        , 0.01600189, 0.        , ..., 0.00577313, 0.00922048,
        1.        ]])

In [ ]:
indices= pd.Series( movie_new.index,index=movie_new['title']).drop_duplicates()

In [ ]:
indices.head()

title
Toy Story    0
Heat         1
Balto        2
Nixon        3
Casino       4
dtype: int64

In [ ]:
def movie_recommender(title):
  idx= indices[title]
  similarity_scores=list(enumerate(cosine_similarity[idx]))
  similarity_scores=sorted(similarity_scores,key= lambda x:x[1],reverse= True)
  scores_final=similarity_scores[1:11]
  movie_indices=[i[0]for i in scores_final]
  return movie_new['title'].iloc[movie_indices]

In [ ]:
user_movie=input('please enter your movie:')
movie_recommender(user_movie)

please enter your movie:Toy Story

3029    Casino Jack and the United States of Money
7267                                     4.1 Miles
235                       A Streetcar Named Desire
3371                            X-Men: First Class
2384                          The Savage Innocents
5081                               Execution Squad
753                                  Man Bites Dog
3993                              What's in a Name
474                                    Poltergeist
3230          Russell Peters: Red, White and Brown
Name: title, dtype: object