In [ ]:
import pandas as pd

In [ ]:
movies= pd.read_csv("https://github.com/SavioSal/datasets/raw/master/movie_clean.csv",encoding='unicode_escape')

In [ ]:
movies.head()

                         title  ...                                           overview
0                    Toy Story  ...  Led by Woody, Andy's toys live happily in his ...
1                      Jumanji  ...  When siblings Judy and Peter discover an encha...
2             Grumpier Old Men  ...  A family wedding reignites the ancient feud be...
3            Waiting to Exhale  ...  Cheated on, mistreated and stepped on, the wom...
4  Father of the Bride Part II  ...  Just when George Banks has recovered from his ...

[5 rows x 7 columns]

Simple Recommender Sytem- content based filtering using Genre

In [ ]:
movie_name= input("Please enter the movie name: ")

Please enter the movie name: Jumanji

In [ ]:
movies=movies.fillna("")

In [ ]:
# determine the records for the movie name
selected_movie= movies[movies['title'].str.contains(movie_name)]

In [ ]:
selected_movie

     title  ...                                           overview
1  Jumanji  ...  When siblings Judy and Peter discover an encha...

[1 rows x 7 columns]

In [ ]:
#get the genres of the selected movie
selected_movies_genre = selected_movie['genres']

In [ ]:
selected_movies_genre

1    ['adventure', 'fantasy', 'family']
Name: genres, dtype: object

In [ ]:
#find selected genres in the movies column
movies['genres'].values([adv])